Repository meal-is-here/babgo-project, pull requests merged in 2025-10, with the labels that each got.

#14 Feature/#1 order 도메인 객체 생성 및 유스케이스 설계
  build.gradle
  src/main/java/com/babgo/application/order/OrderFacade.java
  src/main/java/com/babgo/application/order/OrderInfo.java
  src/main/java/com/babgo/controller/oreder/OrderController.java
  src/main/java/com/babgo/controller/oreder/OrderRequest.java
  src/main/java/com/babgo/controller/oreder/OrderResponse.java
  src/main/java/com/babgo/domain/order/Order.java
  src/main/java/com/babgo/domain/order/OrderItem.java
  src/main/java/com/babgo/domain/order/OrderItemRepository.java
  src/main/java/com/babgo/domain/order/OrderItemService.java
  src/main/java/com/babgo/domain/order/OrderRepository.java
  src/main/java/com/babgo/domain/order/OrderService.java
  src/main/java/com/babgo/domain/order/OrderStatus.java
  src/main/java/com/babgo/global/exception/CustomException.java
  src/main/java/com/babgo/global/exception/ErrorCode.java
  src/main/java/com/babgo/repository/order/OrderItemJpaRepository.java
  src/main/java/com/babgo/repository/order/OrderItemRepositoryImpl.java
  src/main/java/com/babgo/repository/order/OrderJpaRepository.java
  src/main/java/com/babgo/repository/order/OrderRepositoryImpl.java
  src/test/java/com/babgo/order/OrderCreateTest.java
Labels: 📄 docs, 🧪 test, 🤔 feature

#21 Feature/#19 profile get
  src/main/java/com/babgo/controller/profile/ProfileController.java
  src/main/java/com/babgo/controller/profile/dto/ProfileResponse.java
  src/main/java/com/babgo/domain/profile/ProfileService.java
  src/main/java/com/babgo/domain/user/User.java
  src/main/java/com/babgo/global/exception/ErrorCode.java
  src/main/java/com/babgo/global/security/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/babgo/repository/user/UserRepository.java
  src/main/java/com/babgo/repository/user/impl/UserJpaRepository.java
  src/main/java/com/babgo/repository/user/impl/UserRepositoryImpl.java
  src/test/java/com/babgo/controller/profile/ProfileControllerTest.java
Labels: test, fix, feature

#20 feat: 주문기반 추천 시스템 추가
  .gitignore
  .idea/gradle.xml
  .idea/misc.xml
  ai/app/__pycache__/main.cpython-313.pyc
  ai/app/main.py
  ai/models/recommend_model.pkl
  ai/models/user_store_matrix.pkl
  ai/requirements.txt
  ai/scripts/train.py
  build.gradle
  gradlew.bat
  models/recommend_model.pkl
  models/user_store_matrix.pkl
  src/main/java/com/babgo/application/ai/AiService.java
  src/main/java/com/babgo/application/ai/RecommendationService.java
  src/main/java/com/babgo/application/ai/dto_recommend_with_python/RecomRequest.java
  src/main/java/com/babgo/application/ai/dto_recommend_with_python/RecomResponse.java
  src/main/java/com/babgo/controller/ai/AiV1Controller.java
  src/main/java/com/babgo/controller/ai/RecommendationController.java
  src/main/java/com/babgo/controller/ai/dto/AiV1Reponse.java
  src/main/java/com/babgo/controller/ai/dto/AiV1Request.java
  src/main/java/com/babgo/controller/ai/dto_recommend/RecommendationResponse.java
  src/main/java/com/babgo/domain/menu/Menu.java
  src/main/java/com/babgo/domain/store/Store.java
  src/main/java/com/babgo/domain/store/StoreRepository.java
  src/main/java/com/babgo/repository/ai/AiRepositoryImpl.java
  src/main/java/com/babgo/repository/ai/config/WebClientConfig.java
  src/main/java/com/babgo/repository/store/CategoryRepositoryImpl.java
  src/main/java/com/babgo/repository/store/StoreJpaRepository.java
  src/main/java/com/babgo/repository/store/StoreRepositoryImpl.java
Labels: feature

#29 fix: getRole시 잘못된 userid 가져오기 버그 차단
  src/main/java/com/babgo/global/security/jwt/JwtTokenProvider.java
Labels: bug, refactor, fix

#33 Bug: 타입 불일치로 인한 컴파일 오류(userid -> long)
  src/main/java/com/babgo/application/profile/ProfileFacade.java
  src/main/java/com/babgo/controller/profile/ProfileController.java
  src/main/java/com/babgo/controller/profile/dto/ProfileResponse.java
  src/main/java/com/babgo/controller/user/UserController.java
  src/main/java/com/babgo/domain/profile/ProfileService.java
  src/main/java/com/babgo/domain/user/User.java
  src/main/java/com/babgo/domain/user/UserService.java
  src/main/java/com/babgo/global/exception/ErrorCode.java
  src/main/java/com/babgo/global/security/config/SecurityConfig.java
  src/main/java/com/babgo/repository/user/UserRepository.java
  src/test/java/com/babgo/controller/user/UserControllerTest.java
Labels: bug, fix

#34 Bug/#31 issue mistake
  src/main/java/com/babgo/domain/user/User.java
  src/main/java/com/babgo/domain/user/UserDetailService.java
  src/main/java/com/babgo/global/security/jwt/JwtAccessDeniedHandler.java
  src/main/java/com/babgo/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/babgo/global/security/jwt/JwtTokenProvider.java
  src/main/java/com/babgo/repository/user/impl/UserJpaRepository.java
  src/main/java/com/babgo/repository/user/impl/UserRepositoryImpl.java
  src/test/java/com/babgo/controller/user/UserControllerTest.java
Labels: test, update, fix
